.abc { background-color: gray; }
.navbar-nav{ padding-top: 20px;}
.verde{ background-color: rgb(73, 104, 151); color:aliceblue}
.bill { text-align: center;}
.ora{ text-align: center;}
.d-md-block{ text-align: right;}

.h5 {
    font-size: 5px;
}


